@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.splash {
  min-height: calc(90svh - 80px); // Adjusting for the height of the navbar;
  position: relative;
  overflow: hidden;
  @include m.flex;
  padding: 4rem 0;
  

  @include m.r-tablet {
    text-align: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 80vh;
  }



  .inner {
    @include m.container;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

    h1 {
      text-align: left;
    }

    @include m.r-tablet {
      padding: 3rem 2rem;

      h1 {
        text-align: center;
      }
    }

    @include m.r-mobile {
      padding: 1rem;
    }

    @include m.respond-max(355px) {
      padding: 20px;
      margin: 0;
    }

    .cta {
      font-size: v.$font-size-body;
      color: var(--grey-color);
      margin: 1rem 0 2rem 0;
      line-height: 150%;
      width: 100%;

    
    }

    .ctaButton {
      width: 40%;
      
      @include m.r-mobile {
        width: 100%;
        min-height: 44px;
      }
    }
  }
}
