@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.card {
  overflow: hidden;
  margin-bottom: 6.5rem;
  @include m.flex(row, center, space-between);
  position: relative;
  gap: 2rem;

  @include m.respond-max(990px) {
    text-align: center;
  }

  @include m.r-tablet {
    flex-direction: column-reverse;
    padding: 60px 0;
  }

  .image {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;

    img {
      object-fit: cover;
      border-radius: var(--border-radius);

      @include m.r-tablet {
        object-fit: contain;
      }
    }
  }

  .content {
    @include m.flex(column, center, space-around);
    width: 50%;
    min-height: 400px;
    padding: 0 0 0 1rem;

    @include m.r-tablet {
      width: 100%;
      padding: 0 0 0 0rem;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
    padding: 0 1rem 0 0rem;

    @include m.r-tablet {
      flex-direction: column-reverse;
      padding: 0 0 0 0rem;
    }
  }

  .headerWrap {
    width: 100%;

    h2 {
      border-bottom: 2px solid var(--gold-color-light);
      width: 100%;

      @include m.respond-max(990px) {
        text-align: center;
      }

      @include m.r-tablet {
        text-align: left;
      }

      @include m.r-mobile {
        text-align: center;
      }
    }

    p {
      width: 100%;

      @include m.respond-max(990px) {
        text-align: center;
      }
    }
  }
}
