@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.item {
  text-align: center;
  padding: 2rem;
  
  img {
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
  }
}
