@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.item {
  text-align: center;
  padding: 2rem;

  @include m.r-mobile {
    padding: 0;
  }

  img {
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    object-fit: cover;


    @include m.r-mobile {
      width: 100%;
    }

  }

  .title {
    margin: 1rem 0;
    color: var(--gold-color-light);
  }
}
