@use "@/styles/mixins.scss" as m;
@use "@/styles/variables.scss" as v;

.topics {
  padding: 112px 0 120px 0;
  background-color: var(--background-color-light);

  .grid,
  h2 {
    @include m.container;
  }

  h2 {
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
  margin-top: 2.5rem;

  @include m.r-tablet {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @include m.r-mobile {
    gap: 2.5rem;
    margin-top: 0;
  }
}
