@use "@/styles/mixins.scss" as m;
@use "@/styles/variables.scss" as v;

.quote {
  background-color: var(--background-color);
  padding: 112px 0 120px 0;
  position: relative;
  overflow: hidden;

  @include m.r-tablet {
    padding: 50px 0;
  }

  .about {
    @include m.flex(row, center, flex-start);
    gap: 30px;
    padding: 0 0 50px 0;

    @include m.r-tablet {
      flex-direction: column;
      gap: 30px;
    }

    img,
    h2 {
      margin: 0;
    }

    h2 {
      width: 60%;

      &::after {
        width: 100%;
        margin-top: 2rem;
      }

      @include m.r-tablet {
        text-align: center;
        max-width: 300px;
      }

      @include m.r-small-laptop {
        width: 100%;
      }
    }
  }

  .text {
    text-align: right;
    margin-top: 30px;


    @include m.r-small-laptop {
      text-align: center;
    }

    @include m.r-tablet {
      @include m.flex(column, center, center);
      gap: 10px;
      max-width: 250px;
    }
  }
}
