@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.navigation {
  display: flex;
  @include m.container;
  position: relative;
  min-height: 80px;
  z-index: 10;
  padding: 1rem 0;
  gap: 20px;


  @include m.r-mobile {
    width: 100%;
  }

  .logoLink {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .menu {
    top: 100%;
    @include m.flex(row, center, flex-end);
    width: 100%;

    ul {
      display: flex;
      gap: 1.75rem;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    @include m.respond-max(990px) {
      position: absolute;
      justify-content: flex-start;
      left: 0;
      top: 80px;
      bottom: 0;
      background: var(--background-color);
      height: 100vh;
      padding: v.$space-md;
      z-index: 10;
      width: 100%;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.4s ease, opacity 0.4s ease;
      pointer-events: none;
      flex-direction: column;

      &.open {
        max-height: 100vh;

        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .navigationLinks {
    @include m.btn;
    @include m.flex;
    margin: 0;
    padding: 0;
    border: none;

    @include m.respond-max(990px) {
      width: 100%;
    }

    a {
      color: var(--light-color);
      width: 100%;
      padding: 0.5rem;

      @include m.respond-max(990px) {
        padding: 10px;
      }

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .navbarToggler {
    display: none;

    @include m.respond-max(990px) {
      display: block;
      cursor: pointer;
      background: none;
      border: none;
      z-index: 20;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translate(0, -50%);

      .hamburgerIcon {
        width: 25px;
        height: 18px;
        background-color: transparent;
        display: block;
        position: relative;
        transition: var(--transition);
        border-bottom: 1.5px solid var(--light-color);

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 25px;
          height: 1.5px;
          background-color: var(--light-color);
          transition: var(--transition);
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          top: 50%;
          left: 0;
          transform: translete(-50%, -50%);
        }

        &.open {
          background-color: transparent;
          border-bottom: transparent;
          transition: var(--transition);

          &::before {
            transform: rotate(45deg);
            top: 50%;
          }

          &::after {
            transform: rotate(-45deg);
            top: 50%;
          }
        }
      }
    }

    @include m.r-mobile {
      right: 10px;
    }

    @include m.respond-min(v.$breakpoint-mobile){
      right: 20px;
    }
  }
}
