@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.header {
  height: auto;
  @include m.container;

  @include m.r-small-laptop {
    height: auto;
  }

  @include m.r-tablet {
    min-height: auto;
    height: auto;
    align-items: flex-start;
  }

  .wrapper {
    @include m.flex;
    gap: 3rem;
    margin: 0 0;
    padding: 0;
    padding: 2rem 0 2rem 0;

    @include m.r-tablet {
      flex-direction: column;
      padding: 2rem 0 0rem 0;
      gap: 1rem;
    }

    .text {
      flex: 1;

      @include m.r-tablet {
        @include m.flex(column, center, center);
      }

      h1 {
        font-size: 42px;

        @include m.r-tablet {
          text-align: center;
          font-size: 2.8rem;
        }

        @include m.r-mobile {
          font-size: clamp(2rem, 6vw, 2.4rem);
          width: 90vw;
          padding: 2rem 0 0rem 0;
        }
      }
    }

    .subtitle {
      font-size: v.$font-size-body;
      color: var(--grey-color);
      margin: 1rem 0 2rem 0;
      line-height: 150%;
      width: 100%;

      @include m.r-tablet {
        text-align: center;
      }
    }

    .ctaButton {
      top: 0;
    }
  }
}

.contentWrap {
  padding: 0 0 3rem 0;
  text-align: justify;

  @include m.r-tablet {
      padding: 3rem 0;

    text-align: center;
  }
}

.image {
  position: relative;
  flex: 1;
  min-height: 380px;
  max-width: 500px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;

  @include m.r-tablet {
    width: 100%;
    min-height: 300px;
    max-width: 500px;
    margin-top: 20px;
  }

  @include m.r-mobile {
    width: 100%;
    min-height: 300px;
    max-width: 100%;
  }

  img {
    object-fit: cover;
    object-position: 50% 20%;
  }
}
