@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.header {
  height: calc(90svh - 80px);
  @include m.container;
  @include m.flex(row, center, center);

  @include m.r-small-laptop {
    height: auto;
    min-height: 80vh;
  }

  @include m.r-tablet {
    min-height: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: flex-start;
  }

  .wrapper {
    @include m.flex;
    gap: 3rem;

    @include m.r-tablet {
      flex-direction: column;
      padding-top: 1rem;
      gap: 1rem;
    }

    .text {
      flex: 1;

      @include m.r-tablet {
        @include m.flex(column, center, center);
      }

      h1 {
        font-size: 42px;

        @include m.r-tablet {
          text-align: center;
          font-size: 2.8rem;
        }

        @include m.r-mobile {
          font-size: clamp(1.7rem, 6vw, 2.4rem);
          width: 80vw;
        }
      }
    }

    .subtitle {
      font-size: v.$font-size-body;
      color: var(--grey-color);
      margin: 1rem 0 2rem 0;
      line-height: 150%;
      width: 100%;

      @include m.r-tablet {
        text-align: center;
      }

      .lineSeparator {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 2px;
        background-color: #999;
        margin: 0 8px;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .ctaButton {
      top: 0;
    }
  }
}

.image {
  position: relative;
  flex: 1;
  min-height: 380px;
  max-width: 500px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;

  
  @include m.r-tablet {
    width: 100%;
    min-height: 300px;
    max-width: 500px;
  }

  @include m.r-mobile {
    width: 100%;
    min-height: 300px;
    max-width: 100%;
  }

  img {
    object-fit: cover;
    object-position: 50% 20%;
  }
}
