@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.page {
  padding-bottom: clamp(2rem, 4vw, 4rem);
}

.wrapper {
  @include m.container;
  display: grid;
  grid-template-columns: 1.2fr 0.9fr;
  gap: clamp(1rem, 3vw, 2rem);
  align-items: start;

  @include m.r-tablet {
    padding: 1rem 0;
  }

  @include m.r-small-laptop {
    grid-template-columns: 1fr;
  }

  .card,
  .aside {
    background-color: var(--background-color-light);
    border-radius: var(--border-radius);
    padding: clamp(1rem, 3vw, 1.75rem);
    box-shadow: var(--box-shadow);
    z-index: 2;
    width: 100%;
    gap: 1.5rem;
    overflow: hidden;
    height: 100%;
    text-align: center;

    h2 {
      text-align: center;
    }

    @include m.r-small-laptop {
      text-align: center;
    }
  }

  .aside {
    @include m.flex(column, center, flex-start);

    .socials {
      padding: 2rem 0 0 0;

      .socialList {
        @include m.flex(row, flex-start, flex-start);
        gap: 2rem;
        flex-wrap: wrap;

        a:hover {
          color: var(--light-color);
          rotate: -18deg;
        }

        @include m.r-tablet {
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
}
