@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.page {
  padding: 0 0 60px 0;

  header{
    padding: 0 0 20px 0;
  }
}
.mainSection {
  @include m.container;
  @include m.flex(column, center, space-between);
  gap: 4rem;

  @include m.r-mobile {
    gap: 0;
  }
}
