@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.page {
  padding: 0 0 60px 0;
}

.mainSection {
  padding: 60px 0;
  @include m.container;
  @include m.flex(column, center, center);
  gap: clamp(2rem, 3vw, 2.5rem);
  padding-block: clamp(1rem, 2vw, 1.5rem);
  margin: 60px auto;
}
