@use "@/styles/mixins.scss" as m;

.splashImage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -99;
  overflow: hidden;
  opacity: 0.8;

  @include m.r-small-laptop {
    width: 120%;
    
    right: -10%;
    opacity: 0.8;
  }

  @include m.r-tablet {
    width: 250%;
    right: -100px;
    top: -10px;
    opacity: 0.6;
    // object-fit: contain;
        // object-position: top;

        img {
              object-position: 50% 20%;

        }

  }

  .imgage-desctop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
