@use "@/styles/mixins.scss" as m;
@use "@/styles/variables.scss" as v;

.card {
  position: relative;
  background: #131210;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease;
  height: 220px;
  @include m.flex(column, center, center);

  &:hover {
    transform: scale(1.02);

    .content {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include m.r-mobile {
    height: auto;
    box-shadow: none;
    overflow: visible;
    transform: none;
    border: 1px solid var(--gold-color-light);

    &:hover .content {
      transform: none;
      opacity: 1;
    }

    &:hover .title {
      color: var(--light-color);
    }
  }
}

.image {
  position: relative;
  width: 100%;
  height: 100%;

  &::after {
    @include m.vignette();
  }

  @include m.r-mobile {
    height: 250px;
  }

  img {
    object-fit: cover;
    object-position: 20% 20%;
    width: 100%;
    height: 100%;
    transition: scale 0.4s ease;
  }
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  padding: 1.2rem;
  color: var(--light-color);
  transform: translateY(100%);
  transition: transform 0.4s ease, opacity 0.4s ease;

  @include m.r-mobile {
    position: static;
    transform: none;
    opacity: 1;
    background: none;
    padding: 1.2rem 1.5rem 2rem 1.5rem;
    height: auto;
  }
}

.description {
  color: var(--light-color);
  font-size: v.$font-size-small;
  font-weight: 300;
  text-align: left;
  line-height: 1.6;

  @include m.r-mobile {
    font-size: 0.9rem;
    text-align: center;
  }
}

.title {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--light-color);
  padding: 1rem 1.6rem 1.2rem 1.5rem;
  text-align: center;
  z-index: 9;
  font-size: v.$font-size-body;
  font-weight: lighter;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  text-align: right;
  transition: var(--transition);

  @include m.r-mobile {
    background: none;
    position: relative;
    bottom: auto;
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
    text-align: left;
    width: auto;
  }
}

.card:hover .title {
  color: var(--primary-color);
}
