/* COLORS */
:root {
  /* DARK THEME COLORS */
  --black-color: #0a0a0a; //navbar background and footer background
  --background-color: #171717;
  --background-color-light: #1d1d1d; //light background for sections
  --background-color-dark: #121311; //light background for sections

  /* LIGHT THEME COLORS */
  --grey-color: #cccccc;
  --light-grey-color: #e5e5e5;
  --light-color: #f5f5f5;

  --primary-color: #e6b955;
  --gold-color: #c7ab6c;
  --gold-color-light: #e0c287; //hover color for buttons
  --accent-color: #e0c287;

  --danger-color: #a82424; //error messages, alerts, etc.
  --danger-color-light: #f04949; //light version for backgrounds or highlights
  --success-color: #4caf50; //success messages, confirmations, etc.

  /* FONTS */
  --font-head: "Cormorant", serif;
  --font-body: "Montserrat", sans-serif;
  --letter-spacing-text: 1.2px;
  --letter-spacing-subtitle: 0.5px;

  /* MISC */
  --border-radius: 8px;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.04);
}
