@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;
@import "@/styles/css-variables.scss";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
  line-height: v.$line-height-base;
  background-color: var(--background-color);
  color: var(--light-color);
  letter-spacing: var(--letter-spacing-text);
}

.container {
  @include m.container;
  @include m.flex(column, center, center);
  gap: 20px;
  overflow: hidden;
}

section {
  background-color: var(--background-color);
  padding: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head);
  color: var(--gold-color-light);
}

h1 {
  font-size: v.$font-size-h1;
}

h2 {
  font-size: v.$font-size-h2;
}

h3 {
  font-size: v.$font-size-h3;
}

h4 {
  font-size: v.$font-size-h4;
}

a {
  text-decoration: none;
  transition: var(--transition);
  margin: 0;
  color: var(--black-color);

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}