@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;
@import "@/styles/css-variables.scss";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

body {
  font-family: var(--font-body);
  font-size: v.$font-size-body;
  line-height: v.$line-height-base;
  background-color: var(--background-color);
  color: var(--light-color);
  letter-spacing: var(--letter-spacing-text);
}

.container {
  @include m.container;
  overflow: hidden;
}

section {
  background-color: var(--background-color);
  padding: 60px;
}



a {
  text-decoration: none;
  transition: var(--transition);
  margin: 0;
  color: var(--black-color);

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}