@use "@/styles/variables.scss" as v;
@use "@/styles/mixins.scss" as m;

.darkBackground {
  padding: 6rem 0;
  @include m.flex(column, center, center);
  text-align: center;
  background-color: var(--background-color-dark);

  @include m.r-tablet {
    padding: 2rem 0;
  }

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  strong {
    font-weight: normal;
    font-style: italic;
  }
}

.historySection {
  padding: 60px 0;
  @include m.container;

  h2 {
    margin-bottom: 1rem;
  }

  @include m.r-mobile {
    text-align: center;
  }

  .cardWrap {
    @include m.flex(column, center, space-between);
    gap: 2rem;
    padding: 60px 0;
  }
}
